blockquote {
	background-color: #EEE;
}

blockquote p {
	padding: 5px;
}

.site-header {
	min-height: 250px;
}


@media print {
  .noprint {
    display:none;
  }

  #main-content {
    column-count: 2;
    column-gap: 2rem;

    h1, h2, h3, p, ul {
      column-span: all;
    }

    figure {
      break-inside: avoid;
    }
  }
}

@media screen {
  .print-only {
    display: none;
  }
}

figure {
  margin: 2rem 0;

  @media screen {
    border: 1px solid #b3b3b3;
    padding: 2px;
  }

  > img {
    margin: 0 auto;
    display: block;

    @media print {
      max-height: 10cm;
    }
  }

  figcaption {
    font-weight: 500;
    margin: 0;
    text-align: center;
    padding: 0.5rem 2rem;
    white-space: normal;

    // For now we are using filenames at some points as figcaption, which do
    // not contain breakable spaces. Make them behave ;)
    word-wrap: break-word;
    overflow: hidden;
  }
}


// specificity hack
.iis-bullet-nav.iis-bullet-nav {
  opacity: 1;

  a {
    width: 16px;
    height: 16px;
    border-width: 4px;
    border-color: black;
    background: black;
  }
}

.iis-caption.iis-caption {
  background: rgba(0,0,0,0.8);
  font: inherit;

  .iis-caption-content {
    white-space: normal;
  }
}

/// youtube players
.youtube-video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
  }

  img {
    object-fit: cover;
    display: block;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
  }


  &:hover img {
    -webkit-filter: brightness(75%);
  }

  .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url('../images/play.png') no-repeat;
    z-index: 1;
    cursor: pointer;
  }
}
