---
title: OpenBikeSensor
linkTitle: Start
menu:
  main:
    weight: 10
resources:
- src: "**visualisierung*"
  params:
    byline: "Erstellt August 2020"
---

<!-- mastodon needs exactly this a href for verification. Because it's hard to style let's put it here and hide it. Clickable link below -->
<div style="display:none"><a href="https://verkehrswende.social/@OpenBikeSensor" rel="me">mastodon</a></div>

<section class="stage full-width">
  <a class="banderole" href="blog/2024/02/01/nachruf/"><img  src="natenom_banderole.png"/></a>

	<p>Der OpenBikeSensor ist ein offenes System zur</p>
	<h2>Überholabstandsmessung für Radfahrende</h2>

  <div class="action-buttons">
    <a class="button" href="https://forum.openbikesensor.org" target="_blank" rel="noopener noreferrer nofollow">
      {{% fa "discourse" %}} Forum
    </a>

    <a class="button" href="https://matrix.to/#/#openbikesensor:matrix.org" target="_blank" rel="noopener noreferrer nofollow">
      <img alt="Matrix logo" src="/icons/matrix favicon.svg" width="26pt" style="vertical-align:top" /> Matrix
    </a>

    <a class="button" href="https://github.com/openbikesensor" target="_blank" rel="noopener noreferrer nofollow">
      {{% fa "github" %}} GitHub
    </a>

    <a class="button" href="https://verkehrswende.social/@OpenBikeSensor" target="_blank" rel="me noopener noreferrer nofollow">
      {{% fa "mastodon" %}} Mastodon
    </a>
  </div>
</section>

<section class="columns-3 primary full-width content-grid">
  {{% blocks/feature icon="discourse" title="Fragen und Diskutieren" url="https://forum.openbikesensor.org" url_text="Zum Forum" %}}
  Komm in unser Discourse-Forum, und diskutiere mit den anderen Interessierten
  und Aktiven. Hier findet fast alles einen Platz: Unterstützung bei Problemen,
  Lokalgruppen, Forschungs&shy;projekte, Events, Entwicklungsthemen, und vieles mehr.
  {{% /blocks/feature %}}

  {{% blocks/feature icon="person-biking" title="Bauen & Daten sammeln" url="/bauanleitung" url_text="Zur Bauanleitung" %}}
  Bau Dir Deinen eigenen Überholabstandsmesser. Wir unterstützen Dich dabei. Am
  besten schließt Du Dich einer der Sammelbestellungen und einem unserer
  Regio-Teams an.
  {{% /blocks/feature %}}

  {{% blocks/feature icon="github" title="Weiterentwickeln" url="https://github.com/openbikesensor" url_text="Zu den GitHub-Repositories" %}}
  Was wir erstellen ist quelloffen, auf GitHub veröffentlichen wir den kompletten
  Code. Hier findest Du auch alle Pläne und Anleitungen sowie die Software zur
  Visualisierung der gesammelten Daten.
  {{% /blocks/feature %}}
</section>

<section>
<h2>OpenBikeSensor – OpenCitizenScience</h2>

<p>Wir sind eine Gruppe von aktiven Alltagsradler:innen und möchten Radfahren sicherer und populärer machen. Überall!</p>

<p>Wie oft passiert es uns, dass uns ein Auto beinahe vom Sattel holt? Was wir alle kennen, überprüfen wir nun wissenschaftlich. Dazu haben wir einen Sensor entwickelt, der den Abstand misst und Überholmanöver Geodaten zuordnet. Wo ist es sicher? Wo nicht? Welche Uhrzeit? Welche Strecken? Der Sensor soll helfen, das zu erkennen und zu belegen.</p>
</section>

<div class="full-width content-grid columns-2">

{{< yt id=Ym3BeUaSrWo thumbnail="/thumbnails/Ym3BeUaSrWo.jpg" >}}

{{< yt id=izUD16ffs_Q thumbnail="/thumbnails/izUD16ffs_Q.jpg" >}}

</div>

<section>
<h2>Teil der Lösung</h2>

<p>Unser Ziel ist, Schwachstellen und Verbesserungspotenzial in der Verkehrsinfrastruktur aufzuzeigen und diese in Kooperation mit Stadtplaner:innen zu beheben. Zudem wollen wir die gesellschaftliche Wirkung von Kampagnen wie beispielsweise <a href="https://twitter.com/search?q=%23AnderthalbMeter&src=typed_query&f=live" target="_blank" rel="noopener noreferrer nofollow">#AnderthalbMeter</a> (in Städten) messen. Um statistisch verlässliche Open Data zu erhalten, ist es wichtig, dass möglichst viele Alltagsradler:innen mit unseren Sensoren offene Daten erfassen. Mit den von allen gesammelten Daten wiederum lassen sich individuelle Auswertungen vornehmen; von Initiativen, Kommunen und von Euch (Open Citizen Science).</p>

<p>Zentrales Hilfsmittel und Namensgeber des OpenBikeSensors ist unser Überholabstandsmesser, ein kleines technisches Gerät am Fahrrad. Während der Fahrt misst es den Abstand nach links und rechts (minus Lenkerbreite) und zeichnet die Fahrt via GPS auf. Überholmanöver kann die:der Radler:in per Taste am Lenker bestätigen. Nicht aufgezeichnet werden Fahrzeug- oder Personendaten der Überholenden. Uns geht es hauptsächlich um die Seitenabstände zu anderen Verkehrsteilnehmer:innen.</p>

<p>Wir wünschen uns, dass unser Sensor von vielen genutzt und weiterentwickelt wird. Die <a href="{{< relref "/docs/classic/build-instructions">}}">Anleitung zum Selberbauen und Montieren</a> ist für alle als Open Source verfügbar – hier auf unserer Website und <a href="https://github.com/openbikesensor" target="_blank" rel="noopener noreferrer nofollow">quelloffen via GitHub</a>. Wir entwickeln für die offenen Daten zudem <a href="{{< relref "#visualisierung">}}">Visualisierungskonzepte</a> (inklusive Visualisierungssoftware) und werten die Ergebnisse gemeinsam mit Forschungspartner:innen aus.</p>

<p>Uns geht es jedoch nicht nur um die Technik. Ergänzend entwickeln wir gemeinsam mit zivilgesellschaftlichen Organisationen und Kommunen regionale Aktionen, Kampagnen und Verkehrskonzepte. Wir gestalten Gesellschaft und leisten so einen Beitrag für mehr Lebensqualität in den Städten und auf dem Land.</p>

<p>Es wäre toll, wenn schon bald viele mitmachen, und wir so zusammen Bewegung in die Sache bringen.</p>

<p>Klingt interessant? <a href="{{< relref "/community" >}}">Hier kannst Du Teil der Community werden.</a></p>
</section>
