---
title: OpenBikeSensor
linkTitle: Start
menu:
  main:
    weight: 10
resources:
- src: "**visualisierung*"
  params:
    byline: "Erstellt August 2020"
---

<!-- mastodon needs exactly this a href for verification. Because it's hard to style let's put it here and hide it. Clickable link below -->
<div style="display:none"><a href="https://verkehrswende.social/@OpenBikeSensor" rel="me">mastodon</a></div>

<section class="stage full-width">
  <a class="banderole" href="blog/2024/02/01/nachruf/"><img  src="natenom_banderole.png"/></a>

	<p>Der&nbsp;OpenBikeSensor ist&nbsp;ein offenes System&nbsp;für&nbsp;die</p>
	<h2>Überholabstands&shy;messung am&nbsp;Fahrrad</h2>

  <div class="action-buttons">
    <a class="button" href="https://forum.openbikesensor.org" target="_blank" rel="noopener noreferrer nofollow">
      {{% fa "discourse" %}} Forum
    </a>

    <a class="button" href="https://matrix.to/#/#openbikesensor:matrix.org" target="_blank" rel="noopener noreferrer nofollow">
      <img alt="Matrix logo" src="/icons/matrix favicon.svg" width="26pt" style="vertical-align:top" /> Matrix
    </a>

    <a class="button" href="https://github.com/openbikesensor" target="_blank" rel="noopener noreferrer nofollow">
      {{% fa "github" %}} GitHub
    </a>

    <a class="button" href="https://verkehrswende.social/@OpenBikeSensor" target="_blank" rel="me noopener noreferrer nofollow">
      {{% fa "mastodon" %}} Mastodon
    </a>
  </div>
</section>

<section>
<h2>Bürger:innenforschung für Verkehrssicherheit</h2>

<p class="lead">Wir sind aktive Alltagsradler:innen, die Radfahren überall
sicherer und populärer machen möchten. Dazu forschen wir zu Überholabständen.</p>

<p>Eine der gefährlichsten Situation für Radfahrende im Straßenverkehr ist das
Überholen durch Kraftfahrzeuge. Seit 2020 gibt es zwar den gesetzlich
vorgeschriebenen Mindestabstand von 1,5m (außerorts 2m) beim Überholen von
Fahrrädern, doch oft wird dieser nicht eingehalten.</p>

<p>Grund dafür sind gar nicht überwiegend einzelnes Fehlverhalten der
Autofahrenden, auch wenn es nach wie vor an Bewusstsein und auch Bekanntheit
der neuen Regeln mangelt. Viel öfter sind aber die Platzverhältnisse und
Vekehrsführung Auslöser für Regelverstöße, sodass hier auch vonseiten der
Kommunen und Länder nachgebessert werden muss.</p>

<p>Für eine gelungene Verkehrswende brauchen wir dringend Fahrradinfrastruktur,
die sich sicher anfühlt, und auch nachweislich sicherer ist. Darum haben wir es
uns zum Auftrag gemacht, Infrastruktur, die enges Überholen ermöglicht oder
begünstigt zu identifizieren und zu überprüfen. Dazu haben wir einen Sensor und
ein Portal entwickelt, mit denen wir Überholabstände messen und die Daten
einsammeln und auf einer Karte darstellen.</p>

<p>Überall in <a href="{{< relref "/map" >}}">Deutschland und darüber
hinaus</a> gibt es Initiativen und Gruppen, die OpenBikeSensoren bauen
und betreiben und mit den entstandenen Daten auf Politik und Verwaltung zugehen und zu Veränderung bewegen.
</p>
</section>

<div class="full-width content-grid columns-2">
{{< yt id=Ym3BeUaSrWo thumbnail="/thumbnails/Ym3BeUaSrWo.jpg" >}}
{{< yt id=izUD16ffs_Q thumbnail="/thumbnails/izUD16ffs_Q.jpg" >}}
</div>

<section class="full-width content-grid">
<h2>Sei auch du dabei!</h2>

<p>Deine Hilfe wird gebraucht. Egal, ob du an der Weiterentwicklung der Technik oder an der Verbreitung in deiner Stadt oder Kommune
arbeiten möchtest, mit vielen Freiwilligen kommen wir voran! Hier sind einige Vorschläge, wie du dich einbringen kannst:</p>
</section>

<section class="columns-3 full-width content-grid primary-1">
  {{% blocks/feature icon="discourse" title="Fragen und Diskutieren" url="/community" url_text="Zur Community" %}}
    Komm in unsere Community und vernetze dich mit Gleichgesinnten. Hier
    findest du Radler:innen, Techniker:innen, Forschende und Menschen, die in
    Lokalpolitik aktiv sind oder sein wollen. So bringen sich alle im Projekt ein.
  {{% /blocks/feature %}}

  {{% blocks/feature icon="person-biking" title="Bauen & Daten sammeln" url="/bauanleitung" url_text="Zur Bauanleitung" %}}
  Bau Dir Deinen eigenen Überholabstandsmesser. Wir unterstützen Dich dabei. Am
  besten schließt Du Dich einer der Sammelbestellungen und einem unserer
  Regio-Teams an.
  {{% /blocks/feature %}}

  {{% blocks/feature icon="github" title="Weiterentwickeln" url="https://github.com/openbikesensor" url_text="Zu den GitHub-Repositories" %}}
  Was wir erstellen ist quelloffen, auf GitHub veröffentlichen wir den kompletten
  Code. Hier findest Du auch alle Pläne und Anleitungen sowie die Software zur
  Visualisierung der gesammelten Daten.
  {{% /blocks/feature %}}
</section>

