---
title: OpenBikeSensor
linkTitle: Start
menu:
  main:
    weight: 10
resources:
- src: "**visualisierung*"
  params:
    byline: "Erstellt August 2020"
---

{{< blocks/cover title="OpenBikeSensor" image_anchor="top" height="400" >}}
<div class="mx-auto">

	<h2 class="display-4 mb-3">Überholabstandsmessung für Radfahrende</h2>
	<p class="mb-5">Open Innovation, Open Source, Open Data, Open Science</p>

	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://forum.openbikesensor.org" target="_blank" rel="noopener noreferrer nofollow">
		<i class="fab fa-discourse mr-1"></i> Forum
	</a>

	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://matrix.to/#/#openbikesensor:matrix.org" rel="noopener noreferrer nofollow">
		<img src="/icons/matrix favicon.svg" width="26pt" style="vertical-align:top" /> Matrix
	</a>

	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/openbikesensor" target="_blank" rel="noopener noreferrer nofollow">
		<i class="fab fa-github mr-1"></i> Github
	</a>

	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
    <i class="fas fa-book-open mr-1"></i> Dokumentation
	</a>

	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="#unterstuetzen" rel="noopener noreferrer nofollow">
		<i class="fas fa-hand-holding-heart mr-1"></i> Unterstützen
	</a>

</div>
{{< /blocks/cover >}}

{{% blocks/section color="primary" %}}

<div class="container">
<div class="row" style="padding: 0">
{{% blocks/feature icon="fab fa-discourse" title="Fragen und Diskutieren" url="https://forum.openbikesensor.org" url_text="Zum Forum" %}}
Komm in unser Discourse-Forum, und diskutiere mit den anderen Interessierten
und Aktiven. Hier findet fast alles einen Platz: Unterstützung bei Problemen,
Lokalgruppen, Forschungs&shy;projekte, Events, Entwicklungsthemen, und vieles mehr.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-biking" title="Bauen & Daten sammeln" url="/bauanleitung" url_text="Zur Bauanleitung" %}}
Bau Dir Deinen eigenen Überholabstandsmesser. Wir unterstützen Dich dabei. Am
besten schließt Du Dich einer der Sammelbestellungen und einem unserer
Regio-Teams an.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Weiterentwickeln" url="https://github.com/openbikesensor" url_text="Zu den GitHub-Repositories" %}}
Was wir erstellen ist quelloffen, auf GitHub veröffentlichen wir den kompletten
Code. Hier findest Du auch alle Pläne und Anleitungen sowie die Software zur
Visualisierung der gesammelten Daten.
{{% /blocks/feature %}}
</div>
</div>

{{% /blocks/section %}}

<a name="einleitung" id="einleitung"></a>

{{% blocks/section color="#fff" %}}
<div class="container">

<h2>OpenBikeSensor – OpenCitizenScience</h2>

Wir sind eine Gruppe von aktiven Alltagsradler:innen und möchten Radfahren sicherer und populärer machen. Überall!

Wie oft passiert es uns, dass uns ein Auto beinahe vom Sattel holt? Was wir alle kennen, überprüfen wir nun wissenschaftlich. Dazu haben wir einen Sensor entwickelt, der den Abstand misst und Überholmanöver Geodaten zuordnet. Wo ist es sicher? Wo nicht? Welche Uhrzeit? Welche Strecken? Der Sensor soll helfen, das zu erkennen und zu belegen.

{{< yt id=Ym3BeUaSrWo thumbnail="/thumbnails/Ym3BeUaSrWo.jpg" >}}

</div>
{{% /blocks/section %}}

{{% blocks/section color="secondary" %}}
<div class="container">

<h2>Teil der Lösung</h2>

Unser Ziel ist, Schwachstellen und Verbesserungspotenzial in der Verkehrsinfrastruktur aufzuzeigen und diese in Kooperation mit Stadtplaner:innen zu beheben. Zudem wollen wir die gesellschaftliche Wirkung von Kampagnen wie beispielsweise <a href="https://twitter.com/search?q=%23AnderthalbMeter&src=typed_query&f=live" target="_blank" rel="noopener noreferrer nofollow">#AnderthalbMeter</a> (in Städten) messen. Um statistisch verlässliche Open Data zu erhalten, ist es wichtig, dass möglichst viele Alltagsradler:innen mit unseren Sensoren offene Daten erfassen. Mit den von allen gesammelten Daten wiederum lassen sich individuelle Auswertungen vornehmen; von Initiativen, Kommunen und von Euch (Open Citizen Science).

Zentrales Hilfsmittel und Namensgeber des OpenBikeSensors ist unser Überholabstandsmesser,  ein kleines technisches Gerät am Fahrrad. Während der Fahrt misst es den Abstand nach links und rechts (minus Lenkerbreite) und zeichnet die Fahrt via GPS auf. Überholmanöver kann die:der Radler:in per Taste am Lenker bestätigen. Nicht aufgezeichnet werden Fahrzeug- oder Personendaten der Überholenden. Uns geht es hauptsächlich um die Seitenabstände zu anderen Verkehrsteilnehmer:innen.

Wir wünschen uns, dass unser Sensor von vielen genutzt und weiterentwickelt wird. Die <a href="{{< relref "/docs/hardware/v00.03.12/build-instructions">}}">Anleitung zum Selberbauen und Montieren</a> ist für alle als Open Source verfügbar – hier auf unserer Website und <a href="https://github.com/openbikesensor" target="_blank" rel="noopener noreferrer nofollow">quelloffen via Github</a>. Wir entwickeln für die offenen Daten zudem <a href="{{< relref "#visualisierung">}}">Visualisierungskonzepte</a> (inklusive Visualisierungssoftware) und werten die Ergebnisse gemeinsam mit Forschungspartner:innen aus.

Uns geht es jedoch nicht nur um die Technik. Ergänzend entwickeln wir gemeinsam mit zivilgesellschaftlichen Organisationen und Kommunen regionale Aktionen, Kampagnen und Verkehrskonzepte. Wir gestalten Gesellschaft und leisten so einen Beitrag für mehr Lebensqualität in den Städten und auf dem Land.


Es wäre toll, wenn schon bald viele mitmachen, und wir so zusammen Bewegung in die Sache bringen.

Klingt interessant? <a href="{{< relref "/community" >}}">Hier kannst du Teil der Community werden.</a>

</div>
{{% /blocks/section %}}

<a name= id="visualisierung" id="visualisierung"></a>

{{% blocks/section color="#000" %}}
<div class="container">

<h2>Visualisierung</h2>

Ein wichtiger Bestandteil des Projektes ist die Auswertbarkeit der gesammelten Daten. Daher arbeiten wir fleißig daran, die in den jeweiligen "Tracks" gespeicherten Werte zu extrahieren und visuell aufzubereiten.

Hier zeigen wir nur ein Beispiel einer Auswertung von einigen Überholvorgängen in Stuttgart. Es handelt sich dabei um einen erfahrenen Radfahrer, der routiniert und selbstbewusst im Straßenverkehr unterwegs ist. Natürlich wurde auch er sehr oft mit weniger als 1,5m Abstand überholt. Der Überholabstandsmesser erfasste sogar Messwerte unter 50 cm.

{{< imgproc visualisierung Resize "800x" />}}

Ein anderes Beispiel zeigt einen einzelnen Überholvorgang, von dem auch eine Videoaufzeichnung vorhanden war. Wir blenden dazu einige GPS-Informationen ein, sowie den gemessenen Seitenabstand im jeweiligen Moment des Videos. Die Gefahrensituation für den:die Radfahrer:in wird dadurch nachempfindbar.

{{< yt id=izUD16ffs_Q thumbnail="/thumbnails/izUD16ffs_Q.jpg" >}}

Wer noch Ideen zur Visualisierung, Automatisierung, Programmierung, Auswertung, etc. hat oder einfach am Projekt interessiert ist und mitgestalten will, ist herzlich <a href="{{< relref "/community" >}}">in die Community</a> eingeladen.

</div>
{{% /blocks/section %}}

<a id="unterstuetzen" name="unterstuetzen"></a>

{{% blocks/section color="primary" %}}
<div class="container">

<h2 style="color: #fff;">Sei treibende Kraft</h2>

Es gibt viele Arten, wie Du das OpenCitizenScience-Projekt OpenBikeSensor unterstützen kannst, auch wenn Du nicht selbst aktiv werden möchtest.

### Weitersagen heißt Unterstützen

Erzähle Freund:innen, Verwandten, Kolleg:innen und Geschäftspatner:innen von uns.

Folge uns via Twitter <a href="https://twitter.com/openbikesensor" target="_blank" rel="noopener noreferrer nofollow">@OpenBikeSensor</a> und werde Teil unserer Twitterei.

### Spenden – jeder Beitrag zählt

Die Arbeit rund um den OpenBikeSensor ist sehr zeitaufwändig und kostspielig. Wir sind schwarmfinanziert. So freuen wir uns über Spenden – ob klein oder groß. Wir haben folgendes Konto beim <a href="https://bw.adfc.de" target="_blank" rel="noopener noreferrer nofollow">ADFC BW</a> dafür. Bis 200&thinsp;€ reicht der Kontoauszug, um Spenden steuerlich absetzen zu können. Dafür unbedingt den Verwendungszweck so ausfüllen:

<pre class="donations">
IBAN: DE06 4306 0967 7030 7323 03
Kontoinhaber: ADFC Landesverband Baden-Württemberg e.V.
Verwendungszweck: Spende OpenBikeSensor
</pre>

Hier ein paar Beispiele, was wir mit euren Spenden alles erreichen können:

* Wir kaufen mit Mengenrabatt und reduzierten Versandkosten neue Hardware und Bauteile ein. Diese bringen wir Euch dann zu Workshops mit, die wir hoffentlich bald wieder veranstalten können.
* Wir stellen Bausätze zusammen, damit Interessierte keine 6-8 Wochen auf Teile aus China warten müssen, sondern zügig loslegen können.
* Wir bauen Geräte, die wir für Aktionszeiträume an Engagierte ausleihen. Die Koordination übernehmen unsere Regio-Teams.
* Unsere Entwickler:innen können Hardware für Verbesserungen und Erweiterungen bestellen, ohne das Geld selbst vorschießen zu müssen.
* Wir finanzieren die IT-Infrastruktur für Ko-Kreation und Kollaboration unseres Netzwerks.

</div>
{{% /blocks/section %}}

