---
title: OpenBikeSensor
linkTitle: Start
menu:
  main:
    weight: 10
---

{{< blocks/cover title="OpenBikeSensor" image_anchor="top" height="400" >}}
<div class="mx-auto">
	<h2 class="mb-3">Passing distance measurement for cyclists</h2>
	<p class="mb-5">Open Innovation, Open Source, Open Data, Open Science</p>

	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://forum.openbikesensor.org" target="_blank" rel="noopener noreferrer nofollow">
		<i class="fab fa-discourse mr-1"></i> Forum
	</a>

	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://matrix.to/#/#openbikesensor:matrix.org" rel="noopener noreferrer nofollow">
		<img src="/icons/matrix favicon.svg" width="26pt" style="vertical-align:top"/> Matrix
	</a>

	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/openbikesensor" target="_blank" rel="noopener noreferrer nofollow">
		<i class="fab fa-github mr-1"></i> Github
	</a>

	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
       <i class="fas fa-book-open mr-1"></i> Documentation
	</a>

	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="#unterstuetzen" rel="noopener noreferrer nofollow">
		<i class="fas fa-hand-holding-heart mr-1"></i> Support
	</a>
</div>
{{< /blocks/cover >}}

{{% blocks/section color="primary" %}}

<div class="container">
<div class="row" style="padding: 0">
{{% blocks/feature icon="fab fa-discourse" title="Ask and discuss" url="https://forum.openbikesensor.org" url_text="Zum Forum" %}}
Come over to our Discourse forum for discussions with other interested and active community members
on topics like: help and support, local groups, projects, events and further developments.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-biking" title="Build & measure" url="/bauanleitung" url_text="Zur Bauanleitung" %}}
Build your own device. We will support you as much as we can. How about joining
a local group of builders and cyclists, and join a collective order to save on
parts?
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Develop" url="https://github.com/openbikesensor" url_text="Zu den GitHub-Repositories" %}}
We publish everything we create as open source. Everything is available on GitHub,
including the software code, schematics, blueprints, CAD models, instructions
and documentation.
{{% /blocks/feature %}}
</div>
</div>

{{% /blocks/section %}}

{{% blocks/section color="secondary" %}}
<div class="container">

The OpenBikeSensor is a small electronic device attached to a bicycle that records
the distance to passing vehicles during the ride.

It's not a finished product, and you cannot purchase an OpenBikeSensor. But
there is plans and information available publicly to build your own. Have a
look at <a href="https://github.com/openbikesensor">Github</a>, where there are
repositories for the firmware, PCBs, the files for 3D printing the case, the
software for the frontend and backend of the data portal, and this
documentation page. <a href="{{< relref "/community" >}}">You're invited to join</a> and help develop the sensor.

In our data portal, users can upload data recorded with their OpenBikeSensors and
optionally share them as Open Data with the public.

{{< yt id=Ym3BeUaSrWo thumbnail="/thumbnails/Ym3BeUaSrWo.jpg" >}}

</div>
{{% /blocks/section %}}

{{% blocks/lead color="dark" %}}
## Visualisation
{{% /blocks/lead %}}

{{% blocks/section color="secondary" %}}
<div class="container">

An important part of this project is enabling the analysis of the collected data.
That's why we write software to extract interesting values from the recorded
track files and visualise them.

Here we show an example visualisation of a number of overtaking manoeuvres and
their distances from Stuttgart, Germany. The values come from an experienced
cyclist who moves in traffic routinely with confidently. Of course this cyclist
was passed many times below the legal threshold of 1.5m, some measurements are
even as low as 50cm.

<div style="display: flex; justify-content: center;">
{{< imgproc visualisierung Resize "800x" />}}
</div>

Another example shows a single overtaking, of which a video recording was
available as well. We overlay GPS information as well as the recorded sideways
distance to the passing vehicle. We hope presenting information in context like
this makes it easier to relate and get a feel for the danger the cyclist is
exposed to in this very moment.

{{< yt id=izUD16ffs_Q thumbnail="/thumbnails/izUD16ffs_Q.jpg" >}}

If you have ideas for visualisation, automation, software and tool development
and analysis of the data available from the recorded tracks, or you're just
interested in joining the project or keeping up to date with it, please
<a href="{{< relref "/community" >}}">join the community</a>.

</div>
{{% /blocks/section %}}
