@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans/OpenSans-Regular.woff2) format('woff2'),
    url(../fonts/OpenSans/OpenSans-Regular.woff) format('woff');
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url(../fonts/OpenSans/OpenSans-Semibold.woff2) format('woff2'),
    url(../fonts/OpenSans/OpenSans-Semibold.woff) format('woff');
}

@font-face {
  font-family: "Open Sans";
  font-weight: 900;
  src: url(../fonts/OpenSans/OpenSans-Bold.woff2) format('woff2'),
    url(../fonts/OpenSans/OpenSans-Bold.woff) format('woff');
}

