@import "./_variables_project.scss";

body {
  line-height: 1.7em;
}

.award {
  width: 130px;
  transform: rotate(-20deg);
}

.td-navbar .navbar-brand svg {
  transform: scale(1.5);
  margin-right: 1.5rem;
}

.td-navbar .navbar-brand .text-uppercase {
  text-transform: none !important;
  // font-weight: normal !important;
}

.navbar-brand > .text-uppercase {
  font-weight: 700;
}

.td-content {
  max-width: 60rem;
}

.btn {
  border-radius: 0.2rem;

  &-lg {
    border-radius: 0.4rem;
  }

  &-sm {
    border-radius: 0.2rem;
  }
}

.btn-outline-light:hover {
    background-color: #f1f1f6;
    border-color: #f1f1f6;
}

.youtube-video-wrapper {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  background: #000;
  margin: 3rem 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
  }

  img {
    object-fit: cover;
    display: block;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
  }

  &:hover img {
    -webkit-filter: brightness(75%);
  }

  .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("../images/play.png") no-repeat;
    z-index: 1;
    cursor: pointer;
  }

  .comment {
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50px);
    position: absolute;
    z-index: 1;
    cursor: pointer;
    color: white;
  }
}

.ideal-image-slider {
  max-width: 60rem;
  margin: 2rem 0;
}

.slider.small {
  max-width: 30rem;
}

.print-only .noprint,
.noprint .print-only {
  display: none;
}

pre {
  max-width: 100%;
}


@media print {
  html,
  body {
    font-size: 10pt;
    min-width: 0 !important;
  }

  .noprint {
    display: none;
  }

  .td-main main {
    max-width: 100% !important;
    flex: 1 1 0;
  }

  .td-content {
    max-width: 100%;
    // columns: 2;
    column-gap: 4rem;
    font-size: 1rem;

    p, ul, ol, .alert {
        line-height: 1.7em;
        font-size: 1em;
    }

    > h1,
    > h2,
    > h3,
    > p,
    > ul,
    > ol,
    > .alert,
    > .highlight,
    > .lead,
    > dl dd,
    > pre,
    .footnotes,
    > blockquote {
      // column-span: all;
      max-width: 100%;
    }

    li {
      margin-bottom: 0 !important;
    }

    h2 {
      font-size: 1.6em;
      column-span: all;
      // page-break-before: always;
    }
    h3 {
      font-size: 1.3em;
    }

    .print-figures {
      counter-reset: step-figure;
      margin: 1rem 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;
    }

    figure, .card {
        // display: block;
        position: relative;
        // width: calc(50% - 0.25rem - 2px);
        vertical-align: top;
        margin: 0;
        padding: 0 !important;
        border: 1px solid black;
        border-radius: 2mm;
        overflow: hidden;

        break-inside: avoid;
        counter-increment: step-figure;
        figcaption, .card-body {
            position: relative;
            margin: 0;
            padding: 0.2rem 0.5rem !important;
            border-top: inherit;
        }
    }

    // .card {
    //   padding: 0 !important;
    //   border: 1px solid black;
    //   border-radius: 2mm;
    //   break-inside: avoid;
    //   overflow: hidden;
    //
    //   .card-body {
    //
    //   }
    // }

    .section-index,
    // "Last changed" row
    > .text-muted:last-child {
      display: none;
    }

    // Uncomment this to print without figures and images
    // .card, .print-figures, img {
    //   display: none;
    // }

    .alert {
      border-width: 2px;
      break-inside: avoid;
    }

    > table {
        margin: 1rem auto;
        break-inside: avoid;

        td, thead th {
            border: 1px solid black;
            padding: 0.25rem 0.75rem;
        }
    }
  }
}

@media screen {
  .print-only {
    display: none;
  }
}

#td-cover-block-0 {
  background-position: center;
}

.container {
  figure {
    img {
      max-width: 100%;
    }
  }
}

.homepage-container {
  font-size: 13pt;
}

.lead {
  font-weight: 500;
}

.donations {
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem 2rem;
  display: inline-block;
  margin: 1rem auto;
}

.accordion .card-header {
  cursor: pointer;
  transition: background 0.1s;

  &:hover {
    background-color: #fff;
  }
}

.alert.alert-info,
.alert.alert-warning,
.alert.alert-success {
  border: 0;
  border-radius: 4px;
  font-size: 1rem;

  .alert-heading {
    font-size: 1.2rem;
  }

  @media print {
    border-width: 2px;
    border-style: solid;
  }
}

.alert.alert-info {
  background: #e1f5fe;
  border-color: #1e88e5;

  .alert-heading {
    color: #1e88e5;
  }
}

.alert.alert-warning {
  background: #ffe7e4;
  border-color: #ed6a5a;

  .alert-heading {
    color: #ed6a5a;
  }
}

.alert.alert-success {
  background: #ccefc6;
  border-color: #199f67;

  .alert-heading {
    color: #199f67;
  }
}


.alert > ul:last-child,
.alert > p:last-child {
  margin-bottom: 0;
}

.nav-item.dropdown .dropdown-menu {
  margin-top: -1px;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding-left: 1rem;

  &:active,
  &.active {
    background: none;
    font-weight: bold;
  }
}

.td-content,
.content {
  blockquote {
    padding: 0.5rem 1.5rem;
    margin-left: 1rem;
    border-left: 4px solid #ddd;
    color: #777;
  }
}

.td-sidebar-nav {
  padding: 1rem;
  font-family: "Open Sans";

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    ul ul {
      padding-left: 1.5rem;
    }

    li {
      margin-bottom: 2px;
    }
  }

  & > ul > li {
    margin-bottom: 1rem;

    & > a {
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  a {
    display: block;
    color: inherit;
    border-radius: 3px;
    padding: 0.25rem 0.75rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      color: inherit;
      background: #f6f6f6;
    }

    &.current-page {
      font-weight: 700;
      color: $link-color;
    }
  }
}

@media (min-width: 768px) {

  .td-page-meta {
        top: 4rem;
      position: sticky;
  }
  .td-sidebar-nav {
    // max-height: calc(100vh - 64px);
    max-height: none;
    overflow: initial;
  }

  .td-sidebar__inner {
    height: auto;
    min-height: calc(100vh - 128px);
  }

  .td-docs .td-main {
    display: flex;

    .td-sidebar {
      max-width: 20rem;
      min-width: 15rem;
      flex: 1 1 0;
      margin-right: 2rem;
    }

    .td-toc {
    order:2;
     .td-toc {
      top: 4rem;
      position: sticky;
      border-left: solid;
      border-left-width: 1pt;
      border-left-color: rgb(222, 226, 230);
      max-width: 20rem;
      min-width: 12rem;
      flex: 1 1 0;
      margin-left: 2rem;
      padding: 1rem;
      line-height: 1.2;

      #TableOfContents a {
        color: inherit;
        &:hover {
          color: #72A1E5;
        }
      }

      li ul {
        margin-bottom: 0.5em;
      }

      li li {
        margin-left: 1.5em;
        font-size: 0.9em;
        list-style: inherit;
        display: list-item;
      }
      li ul {
        list-style: decimal;
      }
    }
    }

    > main {
      flex: 4 4 0;
    }
  }
}

.feature-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  opacity: 0.06;
  pointer-events: none;
}

.feature-cell {
    display: flex;
    flex-direction: column;
}

address {
    padding-left: 2rem;
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: 100;
}

footer {
    background: $primary;
    color: white;
    font-size: 0.8rem;
    min-height: 0;
    flex: 0 0 auto;
    padding: 1rem 0;
}

.footer-copyright {
    line-height: 1.5em;
}


.print-qr-link {
    border: 1px solid black;
    background: white;

    display: none;
    @media print {
        display: flex;
    }
    align-items: center;
    overflow: hidden;
    padding: 1mm;
    padding-left: 4mm;

    img {
        width: 3cm;
        flex:  0 0 auto;
    }

    p {
        flex: 1 1 0;
        margin: 0;
        padding: 0;
        font-size: 11pt;
        overflow: hidden;
        word-wrap: break-word;
    }

    a {
        color: inherit;
        display: block;
        text-decoration: inherit;
        font-weight: bold;
        font-family: $font-family-monospace;
        white-space: wrap;
        letter-spacing: -0.5pt;
    }
}

@page {
  size: A4 portrait;
  margin: 0.6in;
}

.td-default main section.device-types-row {
    background: #F8F8F8;
    padding: 0;
}

.device-type-cell {
    text-align: center;
    padding-block: 4rem;
    display: flex;
    flex-direction: column;

    .label {
        order: -2;
        height: 40px;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1.5rem;
        border-radius: 1000px;
        margin-bottom: 1rem;
        background: #EEE;
        text-transform: uppercase;
        letter-spacing: 0.7pt;
        font-weight: 700;
        font-size: 80%;
    }

    h4 {
        order: -1;
    }

    &.light {
        background: #FFF;
    }

    img {
        margin-block: 1rem;
        width: 70%;
        height: 200px;
        object-fit: contain;
        align-self: center;
    }

    h4 > span {
        display: block;
        font-size: 120%;
        opacity: 0.5;
        margin-top: 0.2rem;
    }

    &.construction {
        .label {
            background: #ffd600;
        }
        img {
            opacity: 0.3;
        }
    }

    &.recommended {
        .label {
            background: #0029a7;
            color: white;
        }
    }

    ul {
        text-align: left;
        // align-self: center;
    }
}
