@import "./_variables_project.scss";

body {
  line-height: 1.7em;
}

.td-navbar .navbar-brand svg {
  transform: scale(1.5);
  margin-right: 1.5rem;
}

.td-navbar .navbar-brand .text-uppercase {
  text-transform: none !important;
  // font-weight: normal !important;
}

.td-content {
  max-width: 60rem;
}

.btn {
    border-radius: 0.2rem;

    &-lg {
        border-radius: 0.4rem;
    }

    &-sm {
        border-radius: 0.2rem;
    }
}

.youtube-video-wrapper {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  background: #000;
  margin: 3rem 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
  }

  img {
    object-fit: cover;
    display: block;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
  }


  &:hover img {
    -webkit-filter: brightness(75%);
  }

  .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url('../images/play.png') no-repeat;
    z-index: 1;
    cursor: pointer;
  }

  .comment {
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50px);
    position: absolute;
    z-index: 1;
    cursor: pointer;
    color: white;
  }
}

.ideal-image-slider {
  max-width: 60rem;
  margin: 2rem 0;
}

.slider.small {
  max-width: 30rem;
}

.print-only .noprint,
.noprint .print-only {
  display:none;
}

pre {
  max-width: 100%;
}

@media print {
  html, body {
    font-size: 10pt;
    line-height: 1.3;
  }

  .noprint {
    display:none;
  }

  .td-main main {
    max-width: 100% !important;
    flex: 1 1 0;
  }

  .td-content {
    max-width: 100%;
    columns: 2;
    column-gap: 4rem;

    > h1,
    > h2,
    > h3,
    > p,
    > ul,
    > ol,
    > .alert,
    > .highlight,
    > .lead,
    > dl dd,
    > pre,
    .footnotes,
    > blockquote {
      // column-span: all;
      max-width: 100%;
    }

    li {
      margin-bottom: 0 !important;
    }

    h2 {
      font-size: 1.6em;
    }
    h3 {
      font-size: 1.3em;
    }

    .print-figures {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }

    figure {
      break-inside: avoid;
      margin: 0;
    }

    .section-index,
    // "Last changed" row
    > .text-muted:last-child {
      display: none;
    }

    // Uncomment this to print without figures and images
    // .card, .print-figures, img {
    //   display: none;
    // }

    .alert {
      border-width: 2px;
    }
  }
}

@media screen {
  .print-only {
    display: none;
  }
}


#td-cover-block-0 {
    background-position: center;
}


.container {
  figure {
    img {
      max-width: 100%;
    }
  }
}

.homepage-container {
  font-size: 13pt;
}

.lead {
  font-weight: 500;
}

.donations {
  background: white;
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 1rem 2rem;
  display: inline-block;
  margin: 1rem auto;
}

.accordion .card-header {
  cursor: pointer;
  transition: background 0.1s;

  &:hover {
    background-color: #FFF;
  }
}

.alert.alert-info,
.alert.alert-warning {
  border: 0;
  border-radius: 4px;
  font-size: 1.0rem;

  .alert-heading {
    font-size: 1.2rem;
  }
}

.alert.alert-info {
  background: #E1F5FE;

  .alert-heading {
    color: #1E88E5;
  }
}

.alert.alert-warning {
  background: #FFE7E4;

  .alert-heading {
    color: #ED6A5A;
  }
}

.alert > ul:last-child,
.alert > p:last-child {
  margin-bottom: 0;
}

.nav-item.dropdown .dropdown-menu {
  margin-top: -1px;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding-left: 1rem;

  &:active, &.active {
    background: none;
    font-weight: bold;
  }
}


.td-content, .content {
  blockquote {
    padding: 0.5rem 1.5rem;
    margin-left: 1rem;
    border-left: 4px solid #DDD;
    color: #777;
  }
}

.td-sidebar-nav {
  padding: 1rem;
  font-family: "Open Sans";

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    ul ul {
      padding-left: 1.5rem;
    }

    li {
      margin-bottom: 2px;
    }
  }

  & > ul > li {
    margin-bottom: 1rem;

    & > a {
      font-weight: 700;
      text-transform: uppercase;

    }
  }

  a {
    display: block;
    color: inherit;
    border-radius: 3px;
    padding: 0.25rem 0.75rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      color: inherit;
      background: #F6F6F6;
    }

    &.current-page {
      font-weight: 700;
      color: $link-color;
    }
  }
}

@media (min-width: 768px) {
  .td-sidebar-nav {
    // max-height: calc(100vh - 64px);
    max-height: none;
    overflow: initial;
  }

  .td-sidebar__inner {
    height: auto;
    min-height: calc(100vh - 128px);
  }

  .td-docs .td-main {
    display: flex;

    .td-sidebar {
      max-width: 20rem;
      min-width: 15rem;
      flex: 1 1 0;
      margin-right: 2rem;
    }

    .td-toc {
      max-width: 20rem;
      min-width: 12rem;
      flex: 1 1 0;
      margin-left: 2rem;
      padding: 1rem;
    }

    > main {
      flex: 4 4 0;
    }
  }
}

.feature-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  opacity: 0.06;
}
