/*

Add styles or override variables from the theme here.

*/


$primary: #f57c00;
$primary-light: #ffad42;
$secondary: #f1f1f6;

$td-sidebar-bg-color: #e1f5fe;
$td-sidebar-border-color: #b3e5fc;

$link-color: #2196f3;

$google_font_name: "Lato";
$google_font_family: "Lato:300,300i,400,400i,700,700i";

// $font-size-base: 1.2rem;

$enable-rounded: false;

