/*

Add styles or override variables from the theme here.

*/


$primary: #212730;
$primary-light: #3e4a5d;
$secondary: #f1f1f6;

// $td-sidebar-bg-color: #e9f1ff;
// $td-sidebar-border-color: #d4e4ff;
$td-sidebar-bg-color: #FFFFFF;
$td-sidebar-border-color: #d4e4ff;

$link-color: #3489DD;

$google_font_name: "Ubuntu";
$google_font_family: "Ubuntu:300,300i,400,400i,600,600i";

// $font-size-base: 1.2rem;

$enable-rounded: false;

