// Dark mode, as detected by the media query

.dark-toggle.light {
  display: initial;
}
.dark-toggle.dark {
  display: none;
}

html {
  --border-color: rgba(255, 255, 255, 0.2);
  --background: #101010;
  --background-1: #303030;
  --background-2: #505050;
  --foreground: #FFFFFF;
  --faq-question-color: #07445d;
  color-scheme: dark;
  color: var(--foreground);
  background: var(--background);
}

.alert-info {
  background: adjust-color(blue, $alpha: -0.8);
}

.alert-warning {
  background: adjust-color(red, $alpha: -0.8);
}

.alert-success {
  background: adjust-color(green, $alpha: -0.8);
}

.device-type-cell img {
  filter: #{"invert()"};
}
