// Big intro text in a page or article

.lead {
  font-weight: 500;
  font-size: 1.15rem;
}

// Donations IBAN box

.donations {
  background: white;
  color: #212730;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem 2rem;
  display: inline-block;
  margin: 1rem auto;
}

// Feature boxes

.feature-cell {
  display: flex;
  flex-direction: column;
  position: relative;

  .button {
    margin-top: auto;
    align-self: flex-start;
  }

  h3 {
    margin-block: 0;
  }

  .inline-svg {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 60%;
    height: auto;
    opacity: 0.06;
    pointer-events: none;
  }
}

// Buttons

.button {
   background: rgba(0, 0, 0, 0.02);
   box-shadow: rgba(0, 0, 0, 0.2) 0 5px;
   border: 1px solid $border-color;

   &, &:visited, &:hover {
     color: $gray-dark;
   }

   &:hover {
     background: white;
   }

  .primary &, .primary-1 &, .stage & {
     background: rgba(255, 255, 255, 0.7);
     box-shadow: rgba(0, 0, 0, 0.6) 0 5px;
     border: none;

     &:hover {
       background: white;
     }
   }

   text-decoration: none;
   padding: 0.4em 1.25em 0.3em;
   border-radius: 0.25rem;
   transition: all 0.25s ease-out;
   font-weight: 500;

   &:hover {
     transform: translateY(-3px);
   }
}

.action-buttons {
  display: flex;
  gap: 1em;
}


// Alerts

.alert {
  border: 0;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 1rem;
  margin-block: 1rem;

  .alert-heading {
    margin: 0;
    margin-block-end: 0.5rem;
    font-size: 1.15rem;
    font-weight: 500;
  }

  @media print {
    border-width: 2px;
    border-style: solid;
  }
}

.alert-info {
  background: #e1f5fe;
  border-color: #1e88e5;

  .alert-heading {
    color: #1e88e5;
  }
}

.alert-warning {
  background: #ffe7e4;
  border-color: #ed6a5a;

  .alert-heading {
    color: #ed6a5a;
  }
}

.alert-success {
  background: #ccefc6;
  border-color: #199f67;

  .alert-heading {
    color: #199f67;
  }
}

.alert > ul:last-child,
.alert > p:last-child {
  margin-bottom: 0;
}

// Image slider

.ideal-image-slider {
  max-width: 60rem;
  margin: 2rem 0;
}

.slider.small {
  max-width: 30rem;
}

// Youtube video embed

.youtube-video-wrapper {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  background: #000;
  margin: 1rem 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
  }

  img {
    object-fit: cover;
    display: block;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
  }

  &:hover img {
    -webkit-filter: brightness(75%);
  }

  .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("../images/play.png") no-repeat;
    z-index: 1;
    cursor: pointer;
  }

  .comment {
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50px);
    position: absolute;
    z-index: 1;
    cursor: pointer;
    color: white;
    text-align: center;
  }
}

// Main stage on home page

.stage {
  position: relative;
  overflow: clip;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: $primary;
    z-index: -1;
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: url('/featured-background.jpg');
    background-position: center;
    background-size: cover;
    z-index: -1;
    filter: blur(3px);
    scale: 1.01;

    animation: stage-scroll-effect linear;
    animation-timeline: view();
    animation-range: exit -60px;
  }

  height: 50vh;
  position: relative;
  margin: 0;

  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 1em;

  > h2 {
    font-size: #{"min(4.5vw, 4rem)"};
    font-weight: 300;
    margin: 0;
    text-shadow: 0 0 10px black;
  }

  > p {
    font-weight: 500;
    margin: 0;
    font-size: 1.2rem;
    text-shadow: 0 0 5px black;
  }

  // Special banderole on the stage
  .banderole {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 25ch;
    padding: 0;
    transform-origin: 33% 33%;
    transition: all 0.5s;
    opacity: 0.8;

    &:hover {
      scale: 1.1;
      opacity: 1;
    }

    > img {
      width: 100%;
      margin: 0;
    }
  }
}

@keyframes stage-scroll-effect {
  from {}
  to {opacity: 0; scale: 1.2; translate: 0 20%;}
}

// Special device variants page

.device-types-row {
    background: #F8F8F8;
    padding: 0;
}

.device-type-cell {
    text-align: center;
    padding-block: 4rem;
    display: flex;
    flex-direction: column;

    .label {
        order: -2;
        height: 40px;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1.5rem;
        border-radius: 1000px;
        margin-bottom: 1rem;
        background: #EEE;
        text-transform: uppercase;
        letter-spacing: 0.7pt;
        font-weight: 700;
        font-size: 80%;
    }

    h4 {
        order: -1;
    }

    &.light {
        background: #FFF;
    }

    img {
        margin-block: 1rem;
        width: 70%;
        height: 200px;
        object-fit: contain;
        align-self: center;
    }

    h4 > span {
        display: block;
        font-size: 120%;
        opacity: 0.5;
        margin-top: 0.2rem;
    }

    &.construction {
        .label {
            background: #ffd600;
        }
        img {
            opacity: 0.3;
        }
    }

    &.recommended {
        .label {
            background: #0029a7;
            color: white;
        }
    }

    ul {
        text-align: left;
        // align-self: center;
    }

    .button {
      margin-top: auto;
      align-self: center;
    }
}

// Resistors

.resistor {
  font-size: $font-size-small;
  text-align: center;
  svg {
    display: block;
    margin: 0 auto 0.5rem;
  }
}

// Buttons on bottom of blog entry to move around

.blog-pager {
  margin-block-start: 4rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

// Blog entry list

ul.blog-posts,
ul.section-index {
  list-style: none;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  > li {
    border: 1px solid $border-color;
    border-radius: 0.25rem;
    padding: 1rem;
    min-width: 0;
    overflow: hidden;

    h5 {
      font-size: 1.2rem;
      font-weight: bold;
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }
}

time {
  font-weight: 700;
}

@media ($media-desktop) {
  ul.blog-posts,
  ul.section-index {
    grid-template-columns: 1fr 1fr;
  }

}

ul.blog-posts > li > h5 > a {
  color: inherit;
}

.blog-post {
  time + h1 {
    margin-top: 0;
  }
}

// Icons

.inline-svg {
  display: inline-block;
  height: 1rem;
  aspect-ratio: 1;
  translate: 0 15%;

  svg {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}
