<footer class="row d-print-none">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <div class="footer-copyright">
        {{ with .Site.Params.copyright }}
            &copy; {{ now.Year}} {{ . }} {{ T "footer_all_rights_reserved" }}
        {{ end }}
          </div>
      </div>
      <div class="col-md-6 text-md-right">
        <a class="text-white" href="{{ ref . (dict "path" "contact" "lang" "de") }}">Kontakt / Impressum</a>
      </div>
    </div>
  </div>
</footer>
