{{ $currentPage := . }}
<header id="header" class="full-width">
  <a class="site-icon" href="{{ .Site.Home.RelPermalink }}">
    {{ with resources.Get "icons/logo.svg" }}{{ ( . | minify).Content | safeHTML }}{{ end }}
  </a>
  <a class="site-title" href="{{ .Site.Home.RelPermalink }}">
    {{ .Site.Title }}
  </a>

  <nav class="menu">
    <ul>
      {{ $p := . }}
      {{ range .Site.Menus.main }}
      <li class="nav-item{{ if .HasChildren }} dropdown{{ end }}">
        {{ $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) }}
        {{ with .Page }}
        {{ $active = or $active ( $.IsDescendant .)  }}
        {{ end }}
        {{ $url := urls.Parse .URL }}
        {{ $baseurl := urls.Parse $.Site.Params.Baseurl }}

        {{ if .Page }}
          <a class="nav-link{{if $active }} active{{end}}" href="{{ with .Page }}{{ .RelPermalink }}{{end }}" >{{ .Name }}</a>
        {{ else }}
          <span tabindex="0">{{ .Name }}</span>
        {{ end }}

        {{ if .HasChildren }}
          <ul class="dropdown-menu">
            {{ range .Children }}
              <li class="dropdown-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </nav>
</header>
