<nav class="sidebar">
    {{ $navRoot := cond (and (ne .Params.toc_root true) (eq .Site.Home.Type "docs")) .Site.Home .FirstSection }}
    {{ template "section-tree-nav-section" (dict "page" . "section" $navRoot "depth" 0)  }}
</nav>

{{ define "section-tree-nav-section" }}
    {{ $section := .section }}
    {{ $currentPage := .page }}
    {{ $depth := .depth }}
    {{ $sid := $section.RelPermalink | anchorize }}

    {{ $pages := where (union $section.Pages $section.Sections).ByWeight ".Params.toc_hide" "!=" true }}
    {{ $pages := $pages | first 50 }}

    <ul>
        {{ range $pages }}
            {{ $active := eq . $currentPage }}

            <li>
                <a  href="{{ .RelPermalink }}"
                    class="{{ if $active}} current-page{{ end }}">
                    {{ .LinkTitle }}
                </a>

                {{ if and (not .IsPage) (or (eq $currentPage .) ($currentPage.IsDescendant .) (lt $depth 1)) }}
                    {{ template "section-tree-nav-section" (dict "page" $currentPage "section" . "depth" (add $depth 1)) }}
                {{ end }}
            </li>
        {{ end }}
    </ul>
{{ end }}
