{{ $pageFile := .Page.Resources.GetMatch (printf "**%s*" (.Get 0)) }}
{{ $globalFile := resources.GetMatch (printf "**%s*" (.Get 0)) }}
{{ $options := .Get 2 }}
{{ $command := .Get 1 }}
{{ if $pageFile }}
{{ .Scratch.Set "original" $pageFile }}
{{ else if $globalFile }}
{{ .Scratch.Set "original" $globalFile }}
{{ else }}
{{ errorf "Image %s not found." (.Get 0) }}
{{ end }}
{{ $original := .Scratch.Get "original" }}

{{ if eq $command "Fit"}}
{{ .Scratch.Set "image" ($original.Fit $options) }}
{{ else if eq $command "Resize"}}
{{ .Scratch.Set "image" ($original.Resize $options) }}
{{ else if eq $command "Fill"}}
{{ .Scratch.Set "image" ($original.Fill $options) }}
{{ else if eq $command "None"}}
{{ .Scratch.Set "image" $original }}
{{ else }}
{{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
{{ end }}
{{ $image := .Scratch.Get "image" }}

<figure>
  <a href="{{ $original.RelPermalink }}" target="_blank">
    <img src="{{ $image.RelPermalink }}" />
  </a>

  <figcaption>
    {{ .Inner }}
    {{ with $image.Params.byline }}<div class="byline">{{ . | html }}</div>{{ end }}
  </figcaption>
</figure>
