{{ $urls := .Page.Aliases | append .Page.RelPermalink }}
{{ $found := false }}

{{ range $urls }}
    {{ if not $found }}
        {{ $name := replaceRE "(^-+|-+$)" "" (replaceRE "[^a-z0-9]+" "-" . ) }}
        {{ $imgFile := printf "qr/%s.png"  $name }}
        {{ $img := resources.Get $imgFile }}
        {{ if $img }}
            {{ $found = true }}
            <div class="print-qr-link">
                <p>
                    Diese Seite gibt es auch online unter
                    <a href="https://openbikesensor.org{{ . }}">https://openbikesensor.org{{ . }}</a>
                </p>
                <img src="{{ $img.RelPermalink }}" />
            </div>
        {{ end }}
    {{ end }}
{{ end }}
