{{- $src := default (resources.GetMatch (printf "**%s*" (.Get "src"))) (.Page.Resources.GetMatch (printf "**%s*" (.Get "src"))) -}}
{{- $thumbnail := $src.Resize "1000x q75" -}}
{{- $alt := .Get "alt" -}}
{{- $noprint := .Get "noprint" -}}
<a href="{{ $src.RelPermalink }}" target="_blank" class="noprint">
  <img data-src="{{ $thumbnail.RelPermalink }}" src="{{ $thumbnail.RelPermalink }}" title="{{ $alt }}" alt="{{ $alt }}">
</a>
{{ if not $noprint }}
<figure class="print-only">
  <img src="{{ $src.RelPermalink }}" />
  <figcaption>
    {{ $alt }}
  </figcaption>
</figure>
{{ end }}
