---
title: OpenBikeSensor
linkTitle: Das Projekt
menu:
  main:
    weight: 10
resources:
- src: "**visualisierung*"
  params:
    byline: "Erstellt August 2020"
---

{{< blocks/cover title="OpenBikeSensor" image_anchor="top" height="400" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/openbikesensor">
		Github <i class="fab fa-github ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://openbikesensor.org/slack">
		Slack<i class="fab fa-slack ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Dokumentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Überholabstandsmessung für Radfahrende. Open source, open data, open science.</p>
</div>
{{< /blocks/cover >}}


{{% blocks/section color="secondary" %}}
<div class="container">

Der OpenBikeSensor ist ein kleines technisches Gerät am Fahrrad, das während
der Fahrt den Abstand von überholenden Autos misst.

Ein fertiges Produkt ist es noch nicht, man kann ihn nicht bei uns kaufen. Aber
die Pläne und Infos sind alle öffentlich, schaut einfach im <a href="https://github.com/openbikesensor">Github</a>
vorbei.  Dort liegen die Repositories der Firmware, des PCBs, der Gehäuse zum
3D-Drucken, Front- und Backend des Daten-Portals und diese Dokuseite.
Mitmachen ist dort natürlich auch möglich und gerne gesehen.

Die Community kommuniziert zum Großteil im offenen <a href="https://openbikesensor.org/slack" target="_blank">Slack</a>.

In das Datenportal können die Nutzer*innen die Daten ihres OpenBikeSensors
hochladen und (falls sie wollen) ihre Daten als OpenData mit allen teilen.

{{< yt id=YrpipBDGe9s thumbnail="/thumbnails/YrpipBDGe9s.jpg" >}}

</div>
{{% /blocks/section %}}

{{% blocks/lead color="dark" %}}
## Visualisierung
{{% /blocks/lead %}}

{{% blocks/section color="secondary" %}}
<div class="container">

Ein wichtiger Bestandteil des Projektes ist die Auswertbarkeit der gesammelten
Daten. Daher arbeiten wir fleißig daran, die in den jeweiligen "Tracks"
gespeicherten Werte zu extrahieren und visuell aufzubereiten.

Hier zeigen wir nur ein Beispiel einer Auswertung von einigen Überholvorgängen
in Stuttgart. Es handelt sich dabei um einen erfahrenen Radfahrer, der
routiniert und selbstbewusst im Straßenverkehr unterwegs ist. Natürlich wurde
auch er sehr oft mit weniger als 1,5m Abstand überholt, es gab sogar Messwerte
unter 50cm.

<div style="display: flex; justify-content: center;">
{{< imgproc visualisierung Resize "800x" />}}
</div>

Ein anderes Beispiel zeigt einen einzelnen Überholvorgang, von dem auch eine
Videoaufzeichnung vorhanden war. Wir blenden dazu einige GPS-Informationen ein,
sowie den gemessenen Seitenabstand im jeweiligen Moment des Videos. Die
Gefahrensituation für den*die Radfahrer*in wird dadurch nachempfindbar.

{{< yt id=izUD16ffs_Q thumbnail="/thumbnails/izUD16ffs_Q.jpg" >}}

Wer noch Ideen zur Visualisierung, Automatisierung, Programmierung, Auswertung,
etc. hat oder einfach am Projekt interessiert ist und auf dem Laufenden
gehalten werden will, kann sich gerne in der Community auf Slack einbringen.

</div>
{{% /blocks/section %}}

{{% blocks/lead color="dark" %}}
## Unterstützen
{{% /blocks/lead %}}

{{% blocks/section color="secondary" %}}
<div class="container">

Falls ihr uns gerne unterstützen möchtet, aber euch die Zeit und/oder die Fähigkeiten zum Mitentwickeln von Hard- und Software zur Erfassung, Auswertung und Visualisierung fehlen, dann könnt ihr das ab sofort auch mit Spenden tun. Wir haben folgendes Konto beim ADFC BW dafür. Bis 200€ reicht der Kontoauszug bei der Steuererklärung aus, um diese Spende auch absetzen zu können, dafür unbedingt den Verwendungszweck so ausfüllen!

<pre class="donations">
IBAN: DE06 4306 0967 7030 7323 03
Kontoinhaber: ADFC Landesverband Baden-Württemberg e.V.
Verwendungszweck: Spende OpenBikeSensor
</pre>

Hier ein paar Beispiele, was wir mit euren Spenden alles erreichen können:

* Wir kaufen mit Mengenrabatt und reduzierten Versandkosten neue Hardware und Bauteile ein. Diese bringen wir Euch dann zu Workshops, die wir hoffentlich bald wieder veranstalten können.
* Wir stellen Bausätze zusammen, damit Interessierte keine 6-8 Wochen auf Teile aus China warten müssen, sondern zügig loslegen können.
* Wir bauen Geräte, die wir für Aktionszeiträume auch an Engagierte in eurer Stadt ausleihen.
* Unsere Entwickler*innen können Hardware für Verbesserungen und Erweiterungen bestellen, ohne das Geld selbst vorschießen zu müssen.

</div>
{{% /blocks/section %}}

